*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}



.container{
  display: flex; 
}
.canvas{
  border: 1px solid red;
}

.canvas-properties-container{
  display: flex;
  flex-direction: row;
}
.canvas-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #adaaaa;
}

.stage{
  border: 1px solid red;
}
.properties-box {
  background-color: white;
  width: 300px;
  padding: 20px;
  border: 1px solid #adaaaa;
}

.properties-box input{
  border-radius: 2px;
}
.text-element{
  border: 1px solid rgb(55, 52, 52);
}

.editable-canvas
{
  display: flex;
  flex-direction: column;
  width: auto;
}

.canvas-input{
  display: flex;
  flex-direction: column;
 
}